input{
  height: 25px;
}
.add-button{
  padding: 7px 15px;
  background-color: rgb(1, 189, 1);
  color: white;
  border: none;
}
.del-button{
  padding: 7px 15px;
  background-color: rgb(248, 6, 38);
  color: white;
  border: none;
}
.display-area, .header{
  display: grid;
  grid-template-columns: 170px 120px 80px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}